.table{
   width: 100%;
    overflow-x: hidden;
}

.table td{
    overflow-x: scroll;
    font-size: small;
    display: block;
}

.form-group{
    line-height: 2.5em;
    padding: 0.25em;
}
.btn{
    width: 100%;
}

/*table{*/
/*    table-layout: fixed;*/
/*}*/

.book-lbl{
    font-weight: bolder;
    font-size: 1.5rem;
}


@media screen and (min-width: 40em){
    .table{
        width: 100%;
    }

    .table td{
        overflow-x: auto;
    }

}