/*.table{*/
/*   table-layout: fixed;*/
/*}*/

.table td{
    white-space: normal;
    /*word-wrap: break-word;*/
    max-width: 10em;
    overflow: scroll;
}

.table > thead{
    width: max-content;
}

table{
    table-layout: fixed;
}